<!-- create-event.component.html -->
<form (ngSubmit)="handleSubmit()" class="space-y-4 py-4">
  <!-- Event Details Section -->
  <h2 class="text-2xl font-bold mb-4">Edit an Event</h2>

  <!-- Event Name -->
  <div class="mb-3">
    <label for="name" class="font-medium">Event name*</label>
    <input
      [(ngModel)]="newEvent.name"
      type="text"
      id="name"
      placeholder="Event name"
      required
      class="form-input w-full border rounded-md h-10 px-2"
      name="name"
    />
  </div>

  <!-- Category -->
  <div class="mb-3">
    <label for="category" class="font-medium">Category*</label>
    <select
      [(ngModel)]="newEvent.category"
      id="category"
      required
      class="form-input w-full border rounded-md h-10 px-2"
      name="category"
    >
      <option value="">Select category</option>
      <option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</option>
    </select>
  </div>

  <!-- Start Date and End Date -->
  <div class="flex space-x-2 mb-3">
    <div class="flex-1">
      <label for="start_datetime" class="font-medium">Start date*</label>
      <input
        [(ngModel)]="newEvent.start_datetime"
        type="datetime-local"
        id="start_datetime"
        required
        class="form-input w-full border rounded-md h-10 px-2"
        name="start_datetime"
      />
    </div>
    <div class="flex-1">
      <label for="end_datetime" class="font-medium">End date*</label>
      <input
        [(ngModel)]="newEvent.end_datetime"
        type="datetime-local"
        id="end_datetime"
        required
        class="form-input w-full border rounded-md h-10 px-2"
        name="end_datetime"
      />
    </div>
  </div>

  <!-- Location -->
  <div class="mb-3">
    <label for="location" class="font-medium">Location*</label>
    <input
      [(ngModel)]="newEvent.location"
      type="text"
      id="location"
      placeholder="Venue or URL"
      required
      class="form-input w-full border rounded-md h-10 px-2"
      name="location"
    />
  </div>

  <!-- Description -->
  <div class="mb-3">
    <label for="description" class="font-medium">Description*</label>
    <textarea
      [(ngModel)]="newEvent.description"
      id="description"
      placeholder="Enter description"
      required
      class="form-input w-full border rounded-md px-2 py-1"
      name="description"
    ></textarea>
  </div>

  <!-- Ticket Types Section -->
  <h3 class="text-lg font-bold mb-2">Ticket Types</h3>
  <div *ngFor="let ticket of ticketTypes; let i = index" class="space-y-2 mb-3 border-b pb-3">
    <div>
      <label class="font-medium">Ticket name*</label>
      <input
        [(ngModel)]="ticket.name"
        placeholder="Ticket name"
        class="form-input w-full border rounded-md h-10 px-2"
        name="ticketName-{{ i }}"
      />
    </div>
    <div>
      <label class="font-medium">Price*</label>
      <input
        [(ngModel)]="ticket.price"
        type="number"
        placeholder="Price"
        class="form-input w-full border rounded-md h-10 px-2"
        name="ticketPrice-{{ i }}"
      />
    </div>
    <div>
      <label class="font-medium">Quantity*</label>
      <input
        [(ngModel)]="ticket.available_quantity"
        type="number"
        placeholder="Quantity"
        class="form-input w-full border rounded-md h-10 px-2"
        name="ticketQuantity-{{ i }}"
      />
    </div>
    <button type="button" (click)="removeTicketType(i)" class="text-red-600 hover:underline">Remove</button>
  </div>
  <button type="button" (click)="addTicketType()" class="bg-blue-600 text-white px-3 py-2 rounded-md">
    Add Ticket Type
  </button>

  <!-- Image Banner Section -->
  <h3 class="text-lg font-bold mb-2">Image Banner</h3>
  <div class="mb-6 text-center">
    <input type="file" accept="image/*" (change)="handleFileChange($event)" class="cursor-pointer" />
    <span *ngIf="filename" class="text-gray-500">{{ filename }}</span>
    <img *ngIf="imageUrl" [src]="imageUrl" class="w-full h-auto mt-4" alt="Image preview" />
  </div>

  <button type="submit" class="bg-blue-600 text-white w-full px-4 py-2 rounded-md">Update Event</button>
</form>
