// src/app/events/events.component.scss
@import '../shared/styles/common-styles.scss';

// .container {
//   @apply bg-white p-6 rounded-lg shadow-md;
// }

.panemu-table .default-cell {
  white-space: normal;
  word-break: break-word;
  height: 10px;
  max-lines: 4;
}